* {
  font-family: sans-serif;
  text-transform: capitalize;
}
html,
body {
  overflow-x: hidden;
}
:root {
  --main-color: rgb(255 193 7);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
.btn-warning {
  text-transform: capitalize;
}
.navbar-nav {
  align-items: center;
}
.nav-item {
  width: 100%;
  text-align: center;
}
.nav-item a {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.nav-item a:hover {
  color: var(--main-color) !important;
}
.nav-link.active {
  color: var(--main-color) !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.home .carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(30%);
}
.home .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 1.3s;
}
.home .carousel-caption.show {
  transform: translate(-50%, -10%);
  opacity: 1;
  visibility: visible;
}
.home .carousel-caption h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.home .carousel-caption p {
  color: #dbd9d9;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .home .carousel-caption {
    width: 80%;
  }
  .home .carousel-caption h1 {
    font-size: 2rem;
  }
  .home .carousel-caption p {
    font-size: 14px;
  }
}
#services,
#team {
  background-color: #e2f1f7;
}
form {
  background-color: #f0eeee;
}
form input {
  caret-color: var(--main-color);
}
form input:focus {
  box-shadow: none !important;
}
.btn-up {
  background-color: var(--main-color);
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 10000;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.3s;
}
.btn-up:hover {
  color: #000 !important;
}
.btn-up.show {
  transform: translateY(0);
  opacity: 1;
}
.card {
  transition: 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.media i {
  cursor: pointer;
  transition: 0.3s;
}
.media i:hover {
  color: var(--main-color) !important;
}
/* animation for about sectoin */
/* LEFT */
#about .col-lg-4 {
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease;
}
#about .col-lg-4.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* RIGHT */
#about .col-lg-8 {
  transform: translateX(100px);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease;
}
#about .col-lg-8.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* animation for services section */
#services .col-lg-4 {
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
#services .col-lg-4.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
#services .col-lg-4:nth-child(1) {
  transition-delay: 0s;
}
#services .col-lg-4:nth-child(2) {
  transition-delay: 0.2s;
}
#services .col-lg-4:nth-child(3) {
  transition-delay: 0.4s;
}
/* animation for portfolio section */
#portfolio .col-lg-4 {
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
#portfolio .col-lg-4.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
#portfolio .col-lg-4:nth-child(1) {
  transition-delay: 0s;
}
#portfolio .col-lg-4:nth-child(2) {
  transition-delay: 0.2s;
}
#portfolio .col-lg-4:nth-child(3) {
  transition-delay: 0.4s;
}
/* animation for team section */
#team .col-lg-3 {
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
#team .col-lg-3.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
#team .col-lg-3:nth-child(1) {
  transition-delay: 0s;
}
#team .col-lg-3:nth-child(2) {
  transition-delay: 0.2s;
}
#team .col-lg-3:nth-child(3) {
  transition-delay: 0.4s;
}
#team .col-lg-3:nth-child(4) {
  transition-delay: 0.6s;
}
/* animation for the contact section */
#contact form {
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
#contact form.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
